span.infoParen {
	color:white;
}
div.addInv {
	border: 1px solid;
	float: left; 
	width: 100%; 
	height:120px;
	border-color: #303030;
	margin-left: 10px;
	color:#00BFFF;
}

h3 {
	margin: 10px 0px;
}

table {
	margin: 0;
}
		
th {
	padding-left: 10px;
	padding-right: 10px;
}
td {
	padding: 8px;
}

tr {
	color: white;
	font-size: 12pt;
}
tr.Info {
	font-size: 14pt;
}
	
tr.Item {
	border: 1px solid grey; 
	background-color: #303030;
}
td a {
	color: white;
}