html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center; 
    color:white;
    background-color: black;
}
.siteTitle {
    font: 32px Corbel Light;
    flex: 1 1 auto;
    color:#00BFFF;
}
.pageTitle {
    font: 28pt Corbel Light;
    color:#0CAC25;
    margin: auto auto 45px;
}
div.center {
    flex: 1 1 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
div.inputRow {
    margin: 5px;
}
label {
    font: 16px Corbel Light;
    display: inline-block;
    text-align: left;
    width: 140px;
}
input[type="submit"] {
    font: 16px Corbel Light;
    background-color:#4CAF50;
    color: white;
    border-color:#4CAF50;
    margin: 25px;
}
a {
    font: 12pt Corbel Light;
	text-decoration: none;
	border-bottom: 1px solid #505050;
	padding: 1px;
	margin: 3px;
	color:#00BFFF;
}
.phantomFooter {
    visibility: hidden;
    height: 40px;
    flex: 1 1 auto;
}