html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url("../resources/dan-meyers-0AgtPoAARtE-unsplash.jpg");
	background-size: cover;
	color: white;
}

body {
	display: grid;
	grid-template-rows: auto 385px auto;
	grid-template-columns: auto 285px auto;
	--background-body: rgba(255, 255, 255, .1);
	background: var(--background-body);
}

main {
	padding: 30px;
	--background-main: rgb(255, 255, 255, .0);
	background: var(--background-main);
	box-sizing: border-box;
	border: 2px solid black;
	position: relative;
}

div {
	text-align: center;
}

div.inputRow {
	text-align: center;
	margin: 5px;
}

h1 {
	margin-top: 0px;
	font: 32pt Corbel Light;
	color: #3dce53;
	text-align: center;
}

label {
	font-family: Corbel Light;
	background-color: grey;
}

input.text {
	font-family: Corbel Light;
}

input[type="submit"] {
	font-family: Corbel Light; 
	background-color: #0CAC25;
   	color: white; 
	border-color: #0CAC25;
    font-style: bold;
}

a {
	font: 12pt Corbel Light;
	text-decoration: none;
	border-bottom: 1px solid white; /* #505050 */
	padding: 1px;
	margin: 3px;
	color: #00BFFF; /* #00BFFF */
}

/* divs that cover the background image in the remaining space other than <main> */
#top, #right, #bottom, #left {
	background-color: white;
	transition: .35s ease-in-out;
	pointer-events: auto;
}
#left {
	grid-row-start: 2;
	grid-row-end: 3;
}
#top {
	grid-column-start: 1;
	grid-column-end: 4;
}
#bottom {
	grid-column-start: 1;
	grid-column-end: 4;
}

body:hover > div { /* Selects #top, #left, #bottom, #right when hovering any of them */
	opacity: 0;
}

body:hover > div:not(:hover) { /* Selects #top, #left, #bottom, #right div not being hovered */
	opacity: 1;
}

main:hover {
	border: 2px solid transparent;
}

.title { /* Hidden Fields Title */
	pointer-events: none;
	position: absolute;
	bottom: 100%;
	top: -55px;
	left: 6%;
	font: italic 28pt Corbel;
	color: #50d3ff;
	margin: 5px 0px;
	transition: .7s ease;
	z-index: 2;
}