.info {
    text-align:center; 
    color: white;
}
.center {
    text-align:center;
}

.balanceLabel {
    background-color: grey;
    padding-left: 5px;
    padding-bottom: 1px;
}

.button {
    background-color:#4CAF50; 
    color: white; 
    border-color:#4CAF50;
}